@import "tailwindcss";

/* Tente este caminho que sobe dois níveis para pegar a pasta src inteira */
@source "../../src/**/*.{html,ts}";

/* Força o layout a ocupar a tela enquanto o Tailwind não aplica as classes */
:host, html, body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #0f172a;
}